body {
    font-family: "Consolas", "Arial", "Helvetica", sans-serif;
}

fieldset {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend {
    border: 1px solid rgb(59, 144, 184);
    padding: 0.3em;
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

div {
    padding: 0.2em;
}

input {
    width: 20em;
}

textarea {
    width: 20em;
    height: 5em;
}

input.radio, input.checkbox, input.submit {
    width: auto;
}

.radio {
    margin-right: 0.6em;
}